$fontNewCicle: 'New Cicle', arial;
$fontNewCicleItalic: 'New Cicle Italic', arial;
$fontNewCicleGordita: 'New Cicle Gordita', arial;
$fontBlackJar: 'Black Jar', arial;
$fontCalibri: 'Calibri', arial;

$a: #1c2027;
$b: #135360;
$c: #9da2aa;
$d: #797e86;
$e: #f56f6c;
$f: #fee1e0;
$g: #60b2c0;
$h: #252931;
$i: #2e323b;
$j: #373b44;
$white: #ffffff;

