@import '../shared/_variables';
.app-container {
  width: 100%;
  overflow: hidden;
}
.uilove-container {
  display: flex;
  font-family: $fontNewCicle;
  width: 170%;
  background: $b;
  transform: translateX(-70%);
}
