@font-face {
    font-family: 'New Cicle';
    src: url('./assets/fonts/NewCicleFina.otf') format("opentype");
}
@font-face {
    font-family: 'New Cicle Italic';
    src: url('./assets/fonts/NewCicleFinaItalic.otf') format("opentype");
}
@font-face {
    font-family: 'New Cicle Gordita';
    src: url('./assets/fonts/NewCicleGordita.ttf') format("truetype");
}
@font-face {
    font-family: 'Black Jar';
    src: url('./assets/fonts/BlackJar.ttf') format("truetype");
}
@font-face {
    font-family: 'Calibri';
    src: url('./assets/fonts/Calibri.ttf') format("truetype");
}